 
.bouton1{
    margin-left: 15px;
   height: 50px;
   width: 360px;
    float: left;
    background: radial-gradient(yellow, rgb(18, 18, 196));
}
   



.imagecompte{


    margin-left: 1350px;
    background: com;

   
}



